<!doctype html>
<title href="{{ url_for('index') }}">{% block title %}{% endblock %} - Pick to Click</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h2>Pick to Click</h2>
<nav>
  <h1>
    <font size="4" align="left">
      <div class = "btn-group">
	<a href="{{ url_for('index') }}" class="button">Lineups</a>
	<a href="{{ url_for('pick.myPicks') }}" class="button">My Picks</a>
	<a href="{{ url_for('pick.todaysPicks') }}" class="button">Today's Picks</a>
	<a href="{{ url_for('pick.scores') }}" class="button">Score</a>
	<a href="{{ url_for('pick.leaderboard') }}" class="button">Leaderboard</a>
      </div>
    </font> 
  </h1>
  <ul>
    {% if g.user %}
      <li><span>{{ g.user['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
