{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Picks{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
  Your most recent pick was: {{ lastPick }} on {{ time }}. <br>
  
  {% if verified is defined %}
  This pick has been checked.  Scores should be accurate. {{ click }}
  
  
  {% else %}
  This pick has not yet been checked.  Score may be inaccurate if this player has homered. {{ click }}

  {% endif %}

</p><br>
<p>
  <h1> All Picks </h1>
  
  {% for player,date,click in allPicks %}
  
  {{ player }}, {{ date }}, {{ click }} <br>



  {% endfor %}
    
</p>
    
{% endblock %}
