{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Picks{% endblock %}</h1>
{% endblock %}

{% block content %}
<p>
  Your most recent pick was: {{ lastPick }} on {{ time }}. <br>
  
  {% if verified is defined %}
  This pick has been checked.  Scores should be accurate. {{ click }}
  
  
  {% else %}
  This pick has not yet been checked.  Score may be inaccurate if this player has homered. {{ click }}

  {% endif %}

</p><br>
<p>
  <h1> All Picks <font size="3"><i>(most recent first)</i> </font></h1>
  <table style="width:75%">
    <tr>
      <th>Player</th>
      <th>Date</th>
      <th>Click</th>
    </tr>

    {% for player, date, click in allPicks %}
    
    <tr>
      <td align="center"> {{ player }} </td>
      <td align="center"> {{ date }} </td>
      <td align="center"> {{ click }} </td>
    </tr>
    
    {% endfor %}

  </table> 

  
  <font size="2"><i> Note that None means the pick hasn't been checked, 0 means the pick was not a click and 1 means you got a click for that pick </i></font>

  
  
</p>

{% endblock %}
